@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400|Open+Sans:300,400|Open+Sans+Condensed:300,700);
/* line 1, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
body {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 14px;
  color: #252222;
}

/* line 8, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
h1 {
  color: #FFB26B;
}

/* line 12, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
h1 {
  margin: 0;
  position: relative;
  zoom: 1;
  padding: 0 0 20px 0;
  font-weight: 300;
  font-family: Raleway;
}

/* line 21, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
h2,
h3,
h4,
h5 {
  font-weight: 300;
  font-family: Raleway;
}

/* line 28, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
a {
  color: #FFB26B;
  transition: color .5s ease-in-out;
  cursor: pointer;
}

/* line 32, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
a:hover {
  color: #D88F4C;
}

@media screen and (min-width: 768px) {
  /* line 37, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
  h1 {
    float: left;
    width: 200px;
    text-align: right;
    padding: 0 20px 40px 0;
    position: relative;
  }
  /* line 45, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
  h1:before {
    content: '';
    display: table;
    clear: both;
  }
  /* line 50, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typography.scss */
  h1:after {
    content: '';
    width: 4px;
    height: 120%;
    position: absolute;
    top: 8px;
    right: 0;
    background-color: #FFB26B;
  }
}

/* line 1, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
body {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 14, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger {
  height: 36px;
  width: 36px;
  padding: 0;
}

/* line 20, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger__button {
  width: 36px;
  height: 36px;
  margin: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

/* line 27, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger__button:focus {
  outline: none;
}

/* line 33, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger__inner {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #a3a3a3;
  position: absolute;
  top: 50%;
  left: 5.5px;
  margin-top: -1.5px;
  border-radius: 2px;
  transition: background-color .4s ease-in-out .4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 45, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger__inner:before, .hamburger__inner:after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #a3a3a3;
  border-radius: 2px;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: top .2s ease-in-out .3s, -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out, top .2s ease-in-out .3s;
  transition: transform .5s ease-in-out, top .2s ease-in-out .3s, -webkit-transform .5s ease-in-out;
}

/* line 58, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger__inner:after {
  top: 8px;
}

/* line 61, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.hamburger__inner:before {
  top: -8px;
}

/* line 67, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.open .hamburger__inner {
  background-color: transparent;
  transition: background-color .2s ease-out;
}

/* line 71, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.open .hamburger__inner:after, .open .hamburger__inner:before {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: top .2s ease-in-out, -webkit-transform .5s ease-in-out 0s;
  transition: top .2s ease-in-out, transform .5s ease-in-out 0s;
  transition: top .2s ease-in-out, transform .5s ease-in-out 0s, -webkit-transform .5s ease-in-out 0s;
  top: 0;
}

/* line 78, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.open .hamburger__inner:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

/* line 82, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_hamburger.scss */
.open .hamburger__inner:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

/* line 2, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content {
  font-family: 'Open Sans', 'Source Sans Pro';
  font-weight: 400;
  line-height: 1.8;
  font-size: 14px;
  color: #252222;
  max-width: 700px;
  margin: 0 auto;
}

/* line 11, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content b {
  font-weight: 700;
}

/* line 14, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content a[id^="cite"] {
  display: none;
}

/* line 17, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content a[id^="cite"] {
  display: none;
}

/* line 20, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content .hatnote {
  display: none !important;
}

/* line 23, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content .thumb {
  display: none;
}

/* line 27, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content .mw-editsection {
  display: none;
}

/* line 31, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__content table {
  display: none;
}

/* line 36, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
.wiki__read-full-link {
  display: block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  /* line 44, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_wiki.scss */
  .wiki__content h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    line-height: 1.75;
  }
}

/* line 1, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar {
  background-color: #F1F1F1;
  border-bottom: 1px solid #D0D0D0;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
}

/* line 7, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar a {
  color: #A3A3A3;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

/* line 12, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar a:hover {
  color: #FFB26B;
}

/* line 16, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__wrapper {
  margin: 0 auto;
  max-width: 800px;
}

/* line 21, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__toggle {
  position: absolute;
  top: 9px;
  right: 10px;
}

/* line 27, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__brand {
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  line-height: 34px;
  padding: 10px;
  height: 54px;
}

/* line 36, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__brand--logo {
  display: inline-block;
  height: 34px;
  width: 50px;
}

/* line 42, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__brand--title {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

/* line 49, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__link {
  padding: 15px 10px;
  display: block;
  text-align: center;
}

/* line 55, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__collapse {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

/* line 59, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.open .navbar__collapse {
  max-height: 800px;
  transition-delay: .5s;
}

/* line 66, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 72, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form {
  min-height: 54px;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 300;
  background-color: white;
  border-top: 1px solid #D0D0D0;
}

/* line 79, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form input {
  display: block;
  width: 100%;
  height: 54px;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #888888;
}

/* line 89, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form input:focus {
  outline: none;
}

/* line 93, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form-clear, .navbar__search-form-submit {
  position: absolute;
  top: 0;
  color: #FFB26B;
  background-color: transparent;
  border: none;
  font-size: 30px;
  height: 54px;
  width: 44px;
  transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

/* line 104, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form-clear:focus, .navbar__search-form-submit:focus {
  outline: none;
}

/* line 108, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form-clear {
  right: 63px;
  font-size: 18px;
  color: #D0D0D0;
}

/* line 112, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form-clear:hover {
  color: #A3A3A3;
}

/* line 117, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form-submit {
  right: 0px;
  color: white;
  background-color: #EABA8C;
  height: 54px;
  width: 62px;
}

/* line 124, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form-submit:hover {
  background-color: #FFB26B;
}

/* line 128, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
.navbar__search-form--hide {
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 136, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__collapse {
    display: block;
    min-height: 54px;
    transition: all 0s;
    overflow: visible;
  }
  /* line 142, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__toggle {
    display: none;
  }
  /* line 145, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__brand {
    float: left;
  }
  /* line 148, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__module {
    float: left;
  }
  /* line 151, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__link {
    display: inline-block;
    vertical-align: top;
    height: 54px;
    padding: 10px;
    line-height: 34px;
  }
  /* line 158, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__search-form {
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-top: none;
    width: 400px;
  }
  /* line 165, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__module--left {
    float: left;
  }
  /* line 168, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_navbar.scss */
  .navbar__module--right {
    float: right;
  }
}

/* line 2, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_page.scss */
.page__content-wrapper {
  margin: 0 auto;
  padding: 30px 10px 10px 10px;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  /* line 14, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_page.scss */
  .page__content-wrapper {
    max-width: 800px;
    padding-top: 80px;
  }
  /* line 18, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_page.scss */
  .page__content {
    margin-left: 220px;
  }
  /* line 20, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_page.scss */
  .page__content p:first-of-type {
    margin-top: 0;
  }
}

/* line 1, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_result.scss */
.result {
  position: relative;
  margin-bottom: 60px;
}

/* line 12, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_result.scss */
.result:last-of-type:after {
  border-bottom: none;
  margin-bottom: 0;
}

/* line 16, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_result.scss */
.result__title {
  font-size: 20px;
  font-weight: 300;
}

/* line 21, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_result.scss */
.result__link {
  display: inline-block;
  margin: 15px 20px 0 0;
}

/* line 1, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typeahead.scss */
.typeahead {
  position: relative;
  margin-right: 60px;
}

/* line 4, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typeahead.scss */
.typeahead__container {
  width: 100%;
  background-color: white;
  margin: 0 60px 0 0;
}

/* line 9, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typeahead.scss */
.typeahead__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 13, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typeahead.scss */
.typeahead__list > li {
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

/* line 17, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typeahead.scss */
.typeahead__list > li:hover {
  background-color: #F1F1F1;
}

@media screen and (min-width: 768px) {
  /* line 26, /Users/jeremyc/develop/Code/fcc-wiki-search/src/css/modules/_typeahead.scss */
  .typeahead__container {
    position: absolute;
    top: 54px;
    left: -1px;
    z-index: 100;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
  }
}

/* line 13, stdin */
* {
  box-sizing: border-box;
}

/* line 20, stdin */
#fcc-logo {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 1.41421;
}

/* line 26, stdin */
.fcc-logo-path {
  fill: #a3a3a3;
}
