@keyframes loading-icon-spin {
  0%   {
		transform: rotate(0deg)
	}
  100% {
		transform: rotate(360deg)
	}
}
.loading {

}

.loading-icon {
	width: 40px;
	animation       : loading-icon-spin 2s infinite linear;
  display: block;
  margin: 0 auto;
  transform-origin: center center;
	path {
		fill: #A3A3A3;
	}
}
