body {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
	font-weight: 400;
	line-height: 1.8;
  font-size: 14px;
  color: #252222;
}
h1 {
  color: #FFB26B;
}

h1 {
  margin: 0;
  position: relative;
  zoom: 1;
  padding: 0 0 20px 0;
  font-weight: 300;
  font-family: Raleway
}

h2,
h3,
h4,
h5 {
  font-weight: 300;
  font-family: Raleway
}
a {
  color: #FFB26B;
  transition: color .5s ease-in-out;
  cursor: pointer;
  &:hover {
    color: #D88F4C;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    float: left;
    width: 200px;
    text-align: right;
    //border-right: 4px solid #FFB26B;
    padding: 0 20px 40px 0;
    //margin-top: 5px;
    position: relative;
    &:before {
      content: '';
      display: table;
      clear: both;
    }
    &:after {
      content: '';
      width: 4px;
      height: 120%;
      position: absolute;
      top: 8px;
      right: 0;
      background-color: #FFB26B;
    }
  }
}
